/************************
GENERAL
*************************/
body {
  background: url("../img/green_gobbler.png");
  width: 1024px;
  margin: 0 auto;
  padding-left: 22px;
  padding-right: 22px;
}


a { 
  text-decoration: none;
}

img {
  width: 300px;
  height: 400px;
  border-radius: 25%;
  padding: 15px;
  overflow: hidden;
  
}

 li {
  margin: 0 0 1em 0;
  color: #332222;
  font-family: 'PT Sans', sans-serif;

}

h3 {
	text-align: center;
}



.column-2 {
	padding: 10px;
	margin: 10px;
	float: right;
	line-height: 1em;
}



/************************
HEADING
*************************/

.name {
 
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  color: #EA3556;
  display: block;
  margin: 20px;
}

header {
	text-align: center;
}



h1 {
  font-family: 'Lato', sans-serif;
  margin: -5px 0 0;
  font-weight: normal;
  font-size: 1.50em;
  text-align: center;
}


/************************
NAVIGATION
*************************/
nav {
  text-align:center;
  padding:10px 0;
  margin:20px 00;
}

li {
  list-style: none;


}




/************************
FOOTER
*************************/
footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top:50px;
  color: #EA3556;
}

.social-icon {
  width: 25px;
  height: 25px;
  margin: 0 5px;
}
  






/************************
PAGE:CONTACT
*************************/
.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display:block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;  
}

.contact-info li.mail a {
 background-image: url('../img/mail.png');
}


    
    
/*links*/

a {
  color: #AFEEEE;
}



ul {
  background: #AADFC3;
  text-align: center;
  padding: 1em 0 1em 0;
  border-radius: 25%;
}








  
  
  
  
  


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}