/************************
GENERAL
*************************/
body {
  background: url("../img/green_gobbler.png");
  width: 1024px;
  margin: 0 auto;
 
}


img {
 
  height: 400px;
  clear: both;

  
}

 li {
  margin: 0 0 1em 0;
  color: #332222;
  font-family: 'PT Sans', sans-serif;
  list-style: none;
  font-size: 1em;

}


p {
  
  
  font-family: 'PT Sans', sans-serif;
  font-size: 1.15em;

}





.social-icon {
  width: 25px;
  height: 25px;
  margin: 0 5px;
  display: inline-block;
}


/************************
HEADING
*************************/

.name {
 
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  color: #EA3556;
  display: block;
  margin: 20px;
}

header {
	text-align: center;
}



h1 {
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  font-size: 1.50em;
  color: #EA3556;
 
}




/************************
FOOTER
*************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top:50px;
  color: #EA3556;
}


 










  
  
  
  
  


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}